/* ./your-css-folder/styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  nav a {
    padding: 10px;
    margin: 0 5px;
  }

  td a:link {
    color: #0000ee;
  }
  td a:visited {
    color: #0000ee;
  }

  table {
    empty-cells: hide;
  }

  th,
  td {
    padding: 8px;
  }

  h1 {
    font-size: 3rem;
    line-height: 59px;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 48px;
  }

  .w-class_search {
    width: 262px;
  }

  .content-grid {
    grid-template-columns: 2fr;
  }

  .get-started-btn {
    border-color: #d22030;
    color: #fff;
    box-shadow: 0 0 40px 40px #d22030 inset, 0 0 0 0 #d22030;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

  .get-started-btn:hover {
    box-shadow: 0 0 1px 6px #d22030;
  }
}

@layer components {
  .navbar-container {
    @apply border-b-1 border-opacity-20 border-black;
  }

  .navbar {
    @apply justify-center sm:justify-center md:justify-center lg:justify-between xl:justify-between max-w-full mx-6 md:mx-12 xl:mx-60 flex items-center flex-wrap;
  }

  .nav-button {
    @apply font-montserrat font-medium text-black sm:text-nav lg:text-section_header border-b-2 border-transparent;
  }

  .nav-hover {
    @apply hover:border-primary;
  }

  .section-header {
    @apply font-montserrat font-bold text-2xl text-black;
  }

  .section-explanation {
    @apply font-montserrat font-normal text-base leading-5 text-black;
  }

  .input-text {
    @apply font-hind text-base text-black;
  }

  .dash-btn {
    @apply font-hind font-medium text-base text-center bg-primary text-white rounded-lg w-max h-10 px-3;
  }
}
